.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

i {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  padding-right: 0.1rem;
  color: #d3d3d3;
}
i.smol {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  padding-right: 0.1rem;
  color: #d3d3d3;
}

.filled {
  color: goldenrod;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.bi-heart {
  color: red;
}

.bi-heart-fill {
  color: red;
}

tr.stripe:nth-child(even) {
  background-color: #dddddd;
}
