
<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <i class="bi bi-search"></i>
    </div>
  </div>
  <input class="form-control" id="searchbar" type="text" [(ngModel)]="prodService().searchTerm" (ngModelChange)="prodService().refreshProducts()">
</div>

<div class="card-deck">
  <div class="card" class="d-inline-block" style="min-width: 18rem; max-width: 22rem; border: 1px solid lightgray; border-radius: 10px; padding: 10px; margin: 10px"
       *ngFor="let tempProduct of prodService().productsShown">
    <img class="card-img-top" style="max-height: 18rem" [src]="tempProduct.imagesSafe[0]" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{tempProduct.name}}</h5>
      <p class="card-text">{{tempProduct.price | currency: 'RON'}}</p>
      <a href="/product/{{tempProduct.id}}" class="btn btn-primary">Details</a>
    </div>
  </div>
</div>

<ngb-pagination
  [(page)]="prodService().currentPage"
  [pageSize]="prodService().pageSize"
  [collectionSize]="products().length"
  (pageChange)="prodService().refreshProducts()"></ngb-pagination>

<select class="form-select" style="width: auto" [(ngModel)]="prodService().pageSize" (ngModelChange)="prodService().refreshProducts()" [ngModelOptions]="{standalone: true}">
  <option [ngValue]="2">2 items per page</option>
  <option [ngValue]="4">4 items per page</option>
  <option [ngValue]="6">6 items per page</option>
</select>
