
<div id="sidebar-wrapper" [ngClass]="authenticationService.status ? 'hide' : 'show'">
  <div class="p-2">
    <div style="border: 1px solid lightgrey; border-radius: 5px;">
      <div class="list-group list-group-flush w-100" >
        <a href="/products" class="list-group-item list-group-item-action bg-light"> <i class="bi bi-bag" style="font-size: 1rem"></i> All Products</a>
        <span class="list-group-item" style="font-weight: bold"><i class="bi bi-tags" style="font-size: 1rem"></i> Categories</span>
        <div class="list-group-item list-group-item-action">
          <a href="/products/{{tempCategory.name}}" style="text-transform: capitalize; text-decoration: none; color: black" class="mx-3"
             *ngFor="let tempCategory of categories"><i class="bi bi-car-front-fill" style="font-size: 1rem" *ngIf="tempCategory.name == 'Auto'"></i> {{tempCategory.name}}</a>
        </div>

      </div>
      <div *ngIf="filters.length > 0" class="m-3 p-3" style="border: 1px solid lightgrey; border-radius: 5px">
        <div *ngFor="let f of filters">
          <span>{{f.name}}</span>
          <ul style="list-style-type: none;">
            <li *ngFor="let opt of f.possibleChoicesList">
              <input class="filtercheckbox" type="checkbox" (click)="checkBoxClicked(opt, f.name, $event)">
              {{opt}}
            </li>
          </ul>
        </div>
        <div class="w-100">
          <button class="btn btn-outline-primary w-100" (click)="clearFilters()">Clear filters</button>
        </div>
      </div>
    </div>
  </div>
</div>

