#sidebar-wrapper {
  margin-left: -15rem;
  -webkit-transition: margin .5s ease-out;
  -moz-transition: margin .5s ease-out;
  -o-transition: margin .5s ease-out;
  transition: margin .5s ease-out;
  background-color: white;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15vw;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}



@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  .show
  {
    margin-left: 0!important;
  }
  .hide
  {
    margin-left: 0!important;
  }
}
@media (max-width: 767px) {
  .toggle-menu {
    width: 100%;
    margin-bottom: 10px;
  }
  .show
  {
    margin-top: -40rem!important;
    margin-left: 0!important;
  }
  .hide
  {
    margin-top: 0!important;
    margin-left: 0!important;
  }
}

.bi {
  /*height: 12px;*/
}
