<nav class="navbar navbar-dark bg-dark px-4" style="padding-top: 4px; padding-bottom: 4px;">
  <div>
    <a routerLink="/">
      <img src="../../../assets/FmiMag.png"
           alt="" height="50px" class="mr-2" style=" padding: 3px; border-radius: 3px;">
    </a>
    <a class="navbar-brand" routerLink="/">
      FMIMag
    </a>
    <button class="nav-link btn btn-outline-light d-inline-block mx-2 p-1" style="color: lightgrey;" routerLink="/add-product" *ngIf="user && user.role == 1">Adauga un produs</button>
<!--    <a style="text-decoration: none; color: lightgrey; font-weight: bold" routerLink="/add-product">Adauga un produs</a>-->
  </div>

  <div>
    <ul class="navbar-nav mr-2">

      <li class="nav-item" *ngIf="user">
        <button class="nav-link btn d-inline-block mx-2" style="color: white; border: none" disabled>{{user.username}}</button>
        <button class="nav-link btn d-inline-block mx-2" (click)="logout()">Log Out</button>
      </li>
      <li class="nav-item" *ngIf="!user" (click)="navigateToLogin()">
        <button class="nav-link btn">Log In</button>
      </li>
    </ul>
  </div>
</nav>
