<nav class="navbar navbar-dark bg-dark px-4" style="padding-top: 4px; padding-bottom: 4px; z-index: 99">
  <div>
    <div style="display: inline-block; padding: 1px">
      <button class="btn btn-primary toggle-menu" style="background-color: whitesmoke; color: black; border-color: grey;" (click)="toggleNavbar()">
        <i class="bi bi-list" style="font-size: 1rem"></i>
      </button>
      <a routerLink="/" class="mx-2">
        <img src="../../../assets/FmiMag.png"
             alt="" height="45px" class="mr-2" style="background-color: whitesmoke; padding: 5px; overflow: visible; border-radius: 30px;">
      </a>
    </div>

    <a class="navbar-brand" routerLink="/">
      FMIMag
    </a>
    <button class="nav-link btn btn-outline-light d-inline-block mx-2 p-1" style="color: lightgrey;" routerLink="/add-product" *ngIf="user && user.role == 1">Adauga un produs</button>
<!--    <a style="text-decoration: none; color: lightgrey; font-weight: bold" routerLink="/add-product">Adauga un produs</a>-->
  </div>

  <div>
    <ul class="navbar-nav mr-2">
      <li class="nav-item" *ngIf="user">
        <a href="/cart" class="btn btn-outline-secondary d-inline-block mx-2" style="color: lightgrey;" >Cart</a>
        <button class="nav-link btn d-inline-block mx-2" style="color: white; border: none" disabled>{{user.username}}</button>
        <button class="nav-link btn d-inline-block mx-2" (click)="logout()">Log Out</button>
      </li>
      <li class="nav-item" *ngIf="!user" (click)="navigateToLogin()">
        <a href="/cart" class="btn btn-outline-secondary d-inline-block mx-2" style="color: lightgrey;" >Cart</a>
        <button class="nav-link btn d-inline-block">Log In</button>
      </li>
    </ul>
  </div>
</nav>
